@using Microsoft.AspNet.Identity;

@if (User.IsInRole("pastor"))
{
    <li class="nav-item active">
        <a class="nav-link" href="~/Channel/Index/@User.Identity.GetUserId()">Pastor page</a>
    </li>
}

@if (User.IsInRole("administrator"))
{
    <li class="nav-item active">
        <a class="nav-link" href="~/Administrator/Index">Admin page</a>
    </li>
}

@if (User.IsInRole("administrator"))
{
    <li class="nav-item active">
        <a class="nav-link" href="~/Moderator/Index/@User.Identity.GetUserId()">moderator page</a>
    </li>
}
