@model Comment
@using WebApplication4.Models

    <div class="row col-12 mt-5">
        <div class="col-1">
            <img src="~/Files/Avatars/@Model.User.AvatarImage" class="rounded-circle" height="70" width="70" />
        </div>
        <div class="col-9">
            <strong>@Model.User.UserName</strong>
            <small class="ml-1">@Model.Date.ToShortDateString() @Model.Date.ToShortTimeString()</small>
            <div class="col-12 ">
                @Model.Text
            </div>
        </div>
    </div>

