@model WebApplication4.Models.IndexViewModel
@{
    ViewBag.Title = "Management";
}

    <div class="jumbotron">
        <h2>@ViewBag.Title.</h2>

        <p class="text-success">@ViewBag.StatusMessage</p>
        <div>
            <h4>Change account settings</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>Password:</dt>
                <dd>
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Password change", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                </dd>
                <dt>Avatar:</dt>
                <dd>
                    @using (Html.BeginForm("Index", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="mb-5">
                            <label for="FileInput" style="font-size:20px;">Choose file from your computer</label>
                            <input id="FileInput" class="form-control" type="file" name="File" />
                        </div>

                        <input class="btn btn-success" type="submit" value="Change" />
                    }
                </dd>
            </dl>
        </div>

    </div>
