@model List<WebApplication4.Models.Category>
@using WebApplication4.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Channel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="mt-5 mb-5">
        <label for="TitleInput" style="font-size:20px;">Title</label>
        <input id="TitleInput" class="form-control" type="text" name="Title" />
    </div>

    <div class="mt-5 mb-5">
        <label for="CategoryChoose" style="font-size:20px;">Categories</label>
        <table id="CategoryChoose" class="table">
        </table>
        <input class="btn btn-primary" type="button" onclick="AddNewCategory();" value="Add new category" />
    </div>

    <div class="mt-5 mb-5">
        <label for="TextInput" style="font-size:20px;">Text</label>
        <textarea rows="20" id="TextInput" class="form-control col-12" name="Text"></textarea>
    </div>

    <div class="mt-5 mb-5">
        <label for="FilesChoose" style="font-size:20px;">Files</label>
        <table id="FilesChoose" class="table">      
        </table>
        <input class="btn btn-primary" type="button" onclick="AddNewFile();" value="Add new file" />
    </div>

    <input class="btn btn-success" type="submit" value="Create" />
}



<script>
    function AddNewFile() {
        var html = "<tr>"
            + "<td>"
            + "<input type=\"file\" id=\"Files\" name=\"Files\" class=\"form-control-file\"/>"
            + "</td>"
            + "<td>"
            + "<input type=\"button\" onclick=\"$(this).parent().parent().remove(); \" value=\"Remove\" class=\"btn btn-danger\"/>"
            + "</td>"
            + "</tr>";

        $('#FilesChoose').append(html);
    }

    function AddNewCategory() {

            var html = "<tr>"
            + "<td>"
            + "<select type=\"\" name=\"Categories\" class=\"form-control\">"
                + "@foreach (Category i in Model){<option> @i.Name </option>}"
            + "</select>"
            + "</td>"
            + "<td>"
            + "<input type=\"button\" onclick=\"$(this).parent().parent().remove(); \" value=\"Remove\" class=\"btn btn-danger\"/>"
            + "</td>"
            + "</tr>";

            $('#CategoryChoose').append(html);
    }


</script>