@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebApplication4.Models.Post

<h2>Delete</h2>
<dl>
    <dt>Name</dt>
    <dd>
        @Html.DisplayFor(model => model.Title)
    </dd>
</dl>

@using (Html.BeginForm())
{
    <input type="submit" value="OK" />
}
<a href="/Administrator/Categories">Cancel</a>