@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebApplication4.Models.Post

    <div class="jumbotron">
        <h2>Are you sure you want to delete this post?</h2>
        <dl>
            <dt>Name</dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>Text</dt>
            <dd>
                @Html.DisplayFor(model => model.Text)
            </dd>
        </dl>

        <div class="">
            @using (Html.BeginForm(new { @class = "form-inline" }))
            {
                <input type="submit" class="btn btn-outline-danger" value="Yes" />
                <a href="~/Channel/PostList" class="btn ml-3 btn-outline-success">No</a>
            }
        </div>
       
    </div>
