@model List<WebApplication4.Models.Post>
@using WebApplication4.Models
@{
    ViewBag.Title = "Home Page";
}
    <div class="jumbotron mt-5">
        <div class="row">
            @foreach (Post i in Model)
            {

            
            <div class="col-11 mr-auto ml-auto mb-5 pb-5" style="border-bottom: 4px solid black;">

                <p class="col-11"> <img src="~/Files/Avatars/@i.Pastor.AvatarImage" class="rounded-circle" height="70" width="70" /> <a href="~/Channel/Index/@i.Pastor.Id">@i.Pastor.UserName</a></p>
                <h5 class="card-title col-11">@i.Title</h5>
                <h6 class="card-title col-11">@i.Date.ToShortDateString()</h6>
                <p class="col-12">
                    Category:
                    @foreach (Category j in i.Categories)
                    {
                        string text = j.Name + " ";
                        @text
                    }

                </p>
                @if (i.Files.FirstOrDefault() != null)
                {
                    <img src="~/Files/PostFiles/@i.PreviewImage" class="card-img-top" style="width" alt="Alternate Text" />
                }
                <a href="~/View/Index/@i.Id" class="btn btn-outline-info col-12 mt-2">Watch</a>
            </div>
           
            }
        </div>       
    </div>

