@model List<WebApplication4.Models.Post>
@{
    ViewBag.Title = "Index";
}

    <div class="jumbotron mt-5">
        @if (Model.Count == 0)
        {
            <h2>No results</h2>
        }
        else
        {
        
    <div class="row">
        <h2 class="col-11 mr-auto ml-auto mb-5">Found @Model.Count result</h2>
        @foreach (var i in Model)
        {
            <div class="col-11 mr-auto ml-auto mb-5 pb-5" style="border-bottom: 2px solid black;border-top: 2px solid black;">

                <p class="col-11"> <img src="~/Files/Avatars/@i.Pastor.AvatarImage" class="rounded-circle" height="70" width="70" /> <a href="~/Channel/Index/@i.Pastor.Id">@i.Pastor.UserName</a></p>
                <h5 class="card-title col-11">@i.Title</h5>
                <h6 class="card-title col-11">@i.Date.ToShortDateString()</h6>
                <p class="col-12">
                    Category:
                    @foreach (var j in i.Categories)
                    {
                        string text = j.Name + " ";

                        @text
                    }

                </p>
                @if (i.Files.FirstOrDefault() != null)
                {
                    <img src="~/Files/PostFiles/@i.PreviewImage" class="card-img-top" style="width" alt="Alternate Text" />
                }
                <a href="~/View/Index/@i.Id" class="btn btn-outline-info col-12 mt-2">Watch</a>
            </div>

        }
    </div>
        }
    </div>


